@media screen and (max-width:992px) {
    .max-w-50 {
        width: 90%;
    }

    .openButton {
        align-items: start;
        padding-bottom: 10px;
    }


    .left-menu{
        width: 90%;
    }
}